.select-tag::after {
  content: "\25BC";
  position: absolute;
  top: 4;
  right: 0;
  padding: .8rem .75rem;
  border-left: 3px solid rgb(230, 133, 98);
  background: #fff;
  cursor: pointer;
  pointer-events: none;
}
