@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: rgb(80,145,255);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
}
